<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/Frazer/clipM/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>k+dUStN0vPsQtPhR3HzzGG2AvWgN3cofmk23IkSFE8g=</string>
</dict>
</plist>
